@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; color: #333;font-family: 'ImcreSoojin';}
img{width: 100%;}
header, section , footer{
    width: 100%;
    float: left;
}
header, section, footer, div{
    box-sizing: border-box;
}
html, body{overflow-x: hidden;}
body{font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
body.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
header{
    height: 150px;
    background-color: white;
    position: relative;
    z-index: 100;
}
header > div{
    width: 1760px;
    margin: 0 auto;
}
header .top_menu{
    height: 80px;
}
header .top_menu .top_menu_list{
    float: right;
    margin-top: 15px;
}
header .top_menu .top_menu_list > div{
    float: left;
}
header .top_menu .top_menu_list ul li{
    float: left;
}
header .top_menu .top_menu_list ul li a{
    padding: 10px;
    font-size: 14px;
}
header .btm_menu{
    height: 70px;
    z-index: 30;
    position: relative;
}
header .btm_menu .btm_nav1{
    float: left;
}
header .btm_menu .btm_nav2{
    float: right;
}
header .btm_menu .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    bottom:60px;
}
header .btm_menu nav > ul > li{
    float: left;
    margin:  10px;
}
header .btm_menu nav > ul > li > a{
    font-size: 15px;
    padding-right: 55px;

}
header .btm_menu nav > ul > li:hover > a{
    color: rgb(133, 128, 128)
}
header .btm_menu nav .sub{
    padding-top: 30px;
    display: none;
    position: absolute;
}
header .btm_menu nav .sub li a {
    padding: 7px 0 ; 
    font-size: 14px;
    position:relative;
    display: inline-block;
}
header .btm_menu nav .sub li a:after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #838383;
    left: 0;
    bottom: 0;
    transition: all 1s;
}
header .btm_menu nav .sub li:hover a:after{
    width: 100%;
}
header .btm_menu nav,
header .btm_menu .src_icon,
header .btm_menu .hbg_icon{
    float: left;
}
header .btm_menu .src_icon,
header .btm_menu .hbg_icon{
    width: 26px;
    margin: 0 auto;
    margin-top: 7px;
    margin-left: 10px;
}
header .sub_bg{
    background-color:white;
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
    height: 260px;
    box-shadow: 0 2px 2px #333;
    display:none;
    z-index:20;
}
header .search_area{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 150px;
    display: none;
    background-color: white;
}
header .search_area .search_in{
    width: 700px;
    height: 60px;
    margin: 80px auto;
    border-bottom: 2px solid #111;
    
}
header .search_area .search_in input{
    width: 600px;
    float: left;
    font-size: 20px;
    padding: 15px 0 ;
    display: block;
    border: none;

}
header .search_area a{
    width: 60px;
    padding-bottom: 30px;
    float:right;
}
header .search_area input:focus{
    outline: none;
}
header .search_area > a {
    margin: 0 auto;
    float: none;
    width: 22px;
}
section{
    height:810px;
}
section.visual .swiper{
    width: 1760px;
    margin: 0 auto;
    margin-top: 30px;
}
section.visual .swiper{
    overflow: visible;
}
section.visual .swiper-button-next{
    right:-40px;
}
section.visual .swiper-button-prev{
    left:-40px;
}
section.visual .swiper-button-next:after{
    content:url(../img/next.png)
}
section.visual .swiper-button-prev:after{
    content:url(../img/prev.png)
}
.tab .tab_container{
    width: 1760px;
    height: 810px;
    margin: 0 auto;
    margin-top: 80px;
}
.tab .tab_container .tab_in{
    margin-top: 80px;
}

.tab .tab_container .tab_con {
    width: 100%;
    float:left;
    position: relative;
    margin-top: 80px;
}

.tab .tab_container .tab_in .tab_des{
    /* position: relative; */
    /* margin-right: 5px; */
    text-align: right;
    margin-left: 200px;
}
.tab .tab_container .tab_in .tab_des a{
    width:200px;
    height:200px;
    margin-bottom: 130px;
    margin-top: 100px;
    margin-left: 50px;

}
.tab .tab_container .tab_in .tab_des p{
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
}
.tab .tab_container .tab_in .tab_btn ul li{
    float: left;
    margin-left: 200px;
    position: relative;
    width:100px;
}
.tab .tab_container .tab_in .tab_btn ul li a{
    font-size: 20px;
    /* margin-left: 50px;     */
}
.tab .tab_container .tab_in .tab_btn ul li a span{
    /* position: absolute; */
    display: block;
    white-space:nowrap;
}
.tab .tab_container .tab_in .tab_btn ul li a p{
    /* position: absolute; */
    display: none;
    white-space:nowrap;
}
.tab .tab_container .tab_in .tab_btn ul li a.active p{
    color: skyblue;
    font-size: 24px;
    font-weight: bold;
    display: block;
}
.tab .tab_container .tab_in .tab_btn ul li a.active span {
    display: none;
}

.tab .tab_container .tab_in .tab_con .tab_list{
    width: 100%;
    position: absolute;
    display:none;
}
.tab .tab_container .tab_in .tab_con .tab_list:first-child{
    display: block;
}
.tab .tab_container .tab_in .tab_con .tab_list div{
    float: left;
}


/*collection*/
.collection h1{
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    color: rgb(245, 186, 59);
}
.collection .tab_slide{
    margin-top: 80px;
    margin-left: 80px;
}
.collection .tab_slide .tab_title{
    margin: 0 auto;
    width: 400px;
}
.collection .tab_slide .tab_title a{
    font-size: 24px;
    padding: 20px;
    float: left;
    color: #ccc;
}
.collection .tab_slide .tab_title a:after{
    content: "|";
    float: right;
    margin-left: 40px;
    color: #ccc;
}
.collection .tab_slide .tab_title a:nth-child(2):after{
    content: "";
}
.collection .tab_slide .tab_title a.active{
    color:#111;
}
.collection .tab_slide .tab_slide_con{
    width: 100%;
    float: left;
    margin-top: 30px;
    position: relative;
}
.collection .tab_slide .tab_slide_con .tab_slide_list {
    position: absolute;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper {
    width: 1920px;
    height: 810px;
    margin: 0 auto;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper {
    width:100%;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide {
    margin: 0 auto;
    width: 1300px;
    background-image: url(../img/swiper_bg.png);

}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide .slide_img {
    width: 600px;
    height: 600px;
    margin-left: 80px;
    float:left;
    padding:50px;
    margin-top: 100px;
}
/* .collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-wrapper{
    float: left;
} */
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide .slide_txt {
    float: left;
    width:45%;
    text-align: center;
    padding:50px;
    padding-top:200px;

}
/* .collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-wrapper div img{
    float: left;
} 
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-wrapper div .slide_txt {
    float:right;
    width:50%;
} */
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide div p{
    
    padding-top: 100px;
    font-size:20px;
    line-height:30px;
    margin-top: 150px;
    opacity: 0;
    transition: all 0.7s;
    transition-delay: 0.5s;
} 
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide div h1{
    /* float: right;
    margin-top: 300px;
    margin-right: 400px; */
    padding-bottom: 50px;
    font-size: 35px;
    margin-top: 150px;
    opacity: 0;
    transition: all 0.7s;
    transition-delay: 0.3s;
} 
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide div a{
    position: relative;
    margin: 10px 20px;
    width: 120px;
    height: 24px;
    margin:0 auto;
    padding-top: 20px;
    font-size: 20px;
    /* float: right; */
    border: 1px solid #333;
    margin-top: 150px;
    opacity: 0;
    transition: all 0.7s;
    transition-delay: 0.4s;
    
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide-active div h1{
    margin-top: 0;
    opacity: 1;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide div a{
    margin-top: 0;
    opacity: 1;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide div p{
    margin-top: 0;
    opacity: 1;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide div a span{
    display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide div a i{
    position: absolute;
    font-style: normal;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 50px;
    text-align: center;
    color: #111;
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide div a:hover span{
    height: 100%;
    color: aliceblue;

}



.collection .tab_slide .tab_slide_con .tab_slide_list .swiper-button-next:after{
    content:url(../img/next.png
    )
}
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper-button-prev:after{
    content:url(../img/prev.png)
}
.collection .swiper-button-next{
    right: 40px;
}
.collection .swiper-button-prev{
    left: -40px;
}
.collection .swiper{
    overflow: visible;
}
.racipe{
    padding-top: 300px;
    float: left;
    width: 100%;
    height: 1200px;

}
.racipe .racipe_box{
    width: 100%;
    float:left;
    padding-left: 270px;
    background-image: url(../img/racipe_bg.png);
    background-size: 2000px 900px;
    padding-top: 80px;
}
.racipe h1{
    color: #838383;
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
}
.racipe .racipe_box > div{
    float: left;
    height: 810px;
}
.racipe .racipe_box .racipe_img{
    width: 405px;
    height: 604px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-top: -20px;
}
.racipe .racipe_box .racipe_img ul{
    width: 2000px;
    height:604px;
    position: absolute;
    left: 0;
    margin: 0 auto;
    float: left;
}
.racipe .racipe_box .racipe_img ul li{
    float: left;
    width:405px;
    height: 604px;
}
.racipe .racipe_box .racipe_img ul li a{
    float: left;
}
.racipe .racipe_box .racipe_right{
    padding-right: 280px;
    padding-top: 300px;
}
.racipe .racipe_box .racipe_right h1{
    font-size: 20px;
    line-height: 30px;
    color: #111;
}

.racipe .racipe_box .racipe_img a > img{
    width: 405px;
    height: 604px;
    float:left;
}
.racipe .racipe_box .racipe_left {
    padding-left: 300px;
    padding-top: 60px;
}
.racipe .racipe_box .racipe_left ul li a {
    padding: 50px 20px;
    color: rgb(146, 146, 146);
    border-bottom: 1px solid rgb(146, 146, 146);
}
.racipe .racipe_box .racipe_left ul li a.active {
    color: #111;
}
.sns {
    width: 100%;
    float: left;
    position: relative;
}
.sns div{
    float: left;
    width: 100%;
}
.sns .sns_header h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 160px;
    color: #838383;
}
.sns .sns_img div img{
    width:300px;
    height:300px;
}
.sns .sns_img {
    padding-left: 160px;
}
.sns .sns_img .sns_img_up{
    float: left;
    padding: 40px;
}
.sns .sns_img .sns_img_up ul{
    float: left;
}
.sns .sns_img .sns_img_up ul li{
    float: left;
    padding: 40px;
}
.sns .sns_img .sns_img_up ul li a{
    overflow: hidden;
}
.sns .sns_img .sns_img_up ul li a img{
    transition: all 1s;
}
.sns .sns_img .sns_img_up ul li a:hover img{
    transform: scale(1.2);
}
.sns .sns_img .sns_img_down{
    float: left;
    padding: 40px;
}
.sns .sns_img .sns_img_down ul{
    float: left;
}
.sns .sns_img .sns_img_down ul li{
    float: left;
    padding: 40px;
}
.sns .sns_img .sns_img_down ul li a{
    transition: all 1s;
    overflow: hidden;
}
.sns .sns_img .sns_img_down ul li a img{
    transition: all 1s;
}
.sns .sns_img .sns_img_down ul li a:hover img{
    transform: scale(1.2);
}

.sns .sns_icon{
    position: absolute;
    left: 38%;
    bottom:-50%;
}
.sns .sns_icon ul li {
    float: left;
    padding: 40px;
}
.sns .sns_icon ul li img{
    width:50px;
    height: 50px;
}
.h2mak{
    height: 810px;
    width: 100%;
    float: left;
    padding-top: 300px;
}
.h2mak h1{
    padding-top: 160px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 40px;
}
.h2mak a img{
    width: 1760px;
    height: 810px;
    padding-left: 120px;
}
.icon_btn{
    margin-top: 680px;
    width: 100%;
    height: 200px;
    margin-left: 80px;
}
.icon_btn ul li img{
    width: 100px;
    height: 100px;
}
.icon_btn ul {
    float: left;
}
.icon_btn ul li {
    float: left;
    margin: 30px;
    text-align: center;
}
.icon_btn ul li a h1 {
    font-size: 15px;
}
.call{
    width: 100%;
    height:530px;
    float: left;
    margin-left: 80px;
    margin-top: 80px;
}
.call .call_box{
    width: 100%;
    float: left;
}
.call .call_box .call_box_right{
    width: 680px;
    height: 450px;
    float: left;
    background-color: #d3d1d1;
    padding-left: 30px;
}
.call .call_box .call_box_right .call_box_right_1{
    width: 240px;
    float: left;
    line-height: 50px;
    text-align: center;
    margin : 30px;
    padding-top: 120px;
}
.call .call_box .call_box_right .call_box_right_2{
    width: 240px;
    float: left;
    line-height: 50px;
    text-align: center;
    margin: 30px;
    padding-top: 120px;
}
.call .call_box .call_box_left{
    width: 1120px;
    height: 450px;
    float: left;
}
.call .swiper {
    width: 1120px;
    height: 450px;
  }

.call .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .call .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
footer .center_box{
      width:100%;
      float:left;
      background-color: #ccc;
      padding-top: 40px;
  }
footer .center_box .footer_left{
      width: 40%;
      margin-left: 80px;
      margin-bottom: 80px;
      float:left;
  }
footer .center_box .footer_left .footer_left_up{
    width: 100%;
    float:left;
}
footer .center_box .footer_left .footer_left_up ul li {
    float:left;
}
footer .center_box .footer_left .footer_left_up ul li:first-child a {
    color: #111;
}
footer .center_box .footer_left .footer_left_up ul li a {
    width :100%;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 40px;
    border-right: 1px solid #333;
    font-size: 15px;
    color: #9b9999;
    text-align: center;
}
footer .footer_right {
    float: right;
}
footer .footer_right .family {
    width:150px;
    float:right;
    border-bottom:2px solid #333;
    color:#666;
    padding:10px 0;
    margin-top: 50px;
    position: relative;
    margin-right: 50px;
}
footer .footer_right .family span {
    width:10px;
    float:right;
}
footer .footer_right .family .fa_con {
    /* fa_title 제목과 겹침 */
    position: absolute;
    background-color: #111;
    bottom:0;
    width:100%;
    padding:10px 0;
    display: flex;
    /*세로 아래 정렬*/
    align-items: flex-end;  
    /*ul과 a태그 가로로 정렬*/
    justify-content: space-between; 
}
footer .footer_right .family .fa_con ul {
    float:left;
}
footer .footer_right .family .fa_con ul li a {
    padding:7px 20px 5px;
    color:#fff;
    font-size: 14px;
}
footer .footer_right .family .fa_con > a {
    width:20px;
    float:right;
    margin-right: 20px;
}
footer .footer_right .brend {
    width:150px;
    float:right;
    border-bottom:2px solid #333;
    color:#666;
    padding:10px 0;
    margin-top: 50px;
    position: relative;
    margin-right: 50px;
}
footer .footer_right .brend span {
    width:10px;
    float:right;
}
footer .footer_right .brend .br_con {
    /* fa_title 제목과 겹침 */
    position: absolute;
    background-color: #111;
    bottom:0;
    width:100%;
    padding:10px 0;
    display: flex;
    /*세로 아래 정렬*/
    align-items: flex-end;  
    /*ul과 a태그 가로로 정렬*/
    justify-content: space-between; 
}
footer .footer_right .brend .br_con ul {
    float:left;
}
footer .footer_right .brend .br_con ul li a {
    padding:7px 20px 5px;
    color:#fff;
    font-size: 14px;
}
footer .footer_right .brend .br_con > a {
    width:20px;
    float:right;
    margin-right: 20px;
}
footer .footer_right .community {
    width:130px;
    float:right;
    border-bottom:2px solid #333;
    color:#666;
    padding:10px 0;
    margin-top: 50px;
    position: relative;
    margin-right: 50px;
}
footer .footer_right .community span {
    width:10px;
    float:right;
}
footer .footer_right .community .co_con {
    /* fa_title 제목과 겹침 */
    position: absolute;
    background-color: #111;
    bottom:0;
    width:100%;
    padding:10px 0;
    display: flex;
    /*세로 아래 정렬*/
    align-items: flex-end;  
    /*ul과 a태그 가로로 정렬*/
    justify-content: space-between; 
}
footer .footer_right .community .co_con ul {
    float:left;
}
footer .footer_right .community .co_con ul li a {
    padding:7px 20px 5px;
    color:#fff;
    font-size: 14px;
}
footer .footer_right .community .co_con > a {
    width:20px;
    float:right;
    margin-right: 20px;
}
.top_btn {
    width:100px;
    height: 100px;
    color:white;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    position:fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
    background-image: url(../img/Top.png);
    background-size:cover ;
}
.top_btn.active {
    position:absolute;
    bottom: 240px;
    right:0;
}
.site {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    right:-100%;
}
.site .site_menu {
    width: 710px;
    height: 100vh;
    float: left;
    background-color: #333;
    position: relative;
}
.site .site_menu nav {
    position: absolute;
    z-index: 1002;
    padding: 150px 0 0 70px;
}
.site .site_menu nav > ul >li{
    width: 100%;
    float: left;
    position: relative;
    padding: 20px;
}
.site .site_menu nav > ul >li > a{
    float: left;
    font-size: 40px;
    color: #aaa;
    font-weight: bold;
}
.site .site_menu nav > ul >li > a.active{
    color: #fff;
}
.site .site_menu nav > ul > li > p{
    float: left;
    width:  0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 20px;
    transition: all 0.5s;
}
.site .site_menu nav > ul > li > p.line1.active {
    width: 130px;
}
.site .site_menu nav > ul > li > p.line2.active {
    width: 160px;
}
.site .site_menu nav > ul > li > p.line3.active {
    width: 190px;
}
.site .site_menu nav > ul > li > p.line4.active {
    width: 185px;
}
.site .site_menu nav > ul > li .sub{
    position: absolute;
    top: 30px;
    left: 300px;
    display: none;
}
.site .site_menu nav > ul > li:hover > a{
    color: #333;
}
.site .site_menu nav > ul > li .sub li{
    margin: 0 0 20Px 0;
}
.site .site_menu nav > ul > li .sub li a {
    color:white;
    font-size: 20px;
    margin: 0 20px;
}
.site .site_menu nav > ul > li.active > .sub li a {
    color: #838383;
    padding: 10px;
    display: none;
}
.site .site_bg {
    width:100%;
    height: 100vh;
    position: absolute;

}
.site .site_bg ul li{
    position: absolute;
    display: none;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.site .site_bg ul li img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.site .site_bg ul li:first-child {
    display: block;
}
.site .site_map{
    width:1210px;
    height: 100vh;
    padding: 100px 80px;
    background-color: white;
    float:left;
}
.site .site_map .site_close{
    width: 27px;
    height: 27px;
    float: right;
}
.site .site_map .site_nav{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.site .site_map .site_nav > ul > li{
    float: left;
    margin: 50px;
}
.site .site_map .site_nav > ul > li{
    float: left;
    margin: 40px;
    width: 120px;
    height:180px;
}
.site .site_map .site_nav > ul > li > a{
    font-size:24px;
}

.site .site_map .site_nav > ul > li > .sub li a {
    font-size: 16px;
    padding: 10px 0;
    color: #777;
}
.site .site_map .site_banner{
    width: 100%;
    float: left;
    padding: 100px 60px;
}
.site .site_map .site_banner ul li{
    float: left;
    margin-right: 20px;
    width: 280px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 20px;
    box-sizing: border-box;
}
.site .site_map .site_banner ul li a{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}
.site .site_map .site_banner ul li:first-child{
    background-image: url(../img/site_banner-1.jpeg);
}
.site .site_map .site_banner ul li:nth-child(2){
    background-image: url(../img/site_banner-2.jpeg);
}
.site .site_map .site_banner ul li:last-child{
    background-image: url(../img/site_banner-3.jpeg);
}